banner{
    background-image: url('https://cdn.pixabay.com/photo/2014/09/04/11/03/supermarket-435452_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}